@charset "utf-8";
body{
    color: #1b1b1b;
}

#header{
    border-bottom: 1px solid #e0e0e0;
}

.container-fluid{
    padding: 0 50px;
}

.navbar{
    padding: 15px 0;
}

.nav-item a{
    font-size: 17px;
    font-weight: 700;
    color: #000;
}

.nav-item{
    padding: 0 20px;
}

.fa-magnifying-glass, .fa-user{
    font-size: 25px;
    padding: 0 20px;
}
